
Skip to content
This repository

    Pull requests
    Issues
    Gist

    @Redbeard2794

1
0

    0

Redbeard2794/Using-smoothCamera-to-make-a-side-scrolling-game-learning-resource-code

Using-smoothCamera-to-make-a-side-scrolling-game-learning-resource-code/css files/LearningResource.css
@Redbeard2794 Redbeard2794 on 24 Feb Video and html files

1 contributor
53 lines (51 sloc) 0.773 kB
body {
    font-family:    Verdana, Geneva, Arial, sans-serif;
    font-size:      medium;
    background-color: #4B0082;
}
h1 {
    font-weight: bold;
    color:       #00FA9A;
    text-decoration: underline;
}
h2 {
    font-weight: bold;
    color:       #00FA9A;
    font-size:   150%;
}
p {
    color:  #C0C0C0;
}
li {
    color:  #7FFF00;
}
a {
    color:  #00FA9A;
}
H6 {
    font-weight: bold;
    color:  #00FA9A;
}
H4 {
    color:  #7FFF00;
    text-decoration: underline;
}
li {
    color:;
}
textarea {
    border: 3px solid #00FA9A;
	width: 550px;
	height: 175px;
    font-family:    Verdana, Geneva, Arial, sans-serif;
}
/*** Inputs ***/


input[type=text] {
    font-size:  115%;
}
input[type=submit] {
    font-size:  125%;
}
select {
    font-size:  125%;
}

    Status API Training Shop Blog About Help 

    © 2015 GitHub, Inc. Terms Privacy Security Contact 

